<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main-table {
            background-color: #F9FAFB;
        }

        .email-container {
            padding: 20px;
        }

        .email-body {
            background-color: #fff;
            padding: 30px;
        }

        .title {
            height: 30px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            /* font-size: 22px; */
            line-height: 30px;
            margin: 0;
        }

        .sub-title {
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            /* font-size: 16px; */
            line-height: 24px;
        }

        .cta {
            padding: 0px 24px;
            gap: 10px;
            width: 164px;
            height: 40px;
            background: #000000;
            border-radius: 80px;
        }

        .cta-text {
            width: 116px;
            height: 24px;
            margin: 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            /* font-size: 16px; */
            line-height: 24px;
            color: #FFFFFF;
        }

        .sub-title2 {
            width: 209px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            /* font-size: 14px; */
            line-height: 22px;
            color: #4E5359;
        }

        .email-footer-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            /* font-size: 14px; */
            line-height: 22px;
            color: #4E5359;
            order: 0;
            flex-grow: 0;
        }
    </style>
</head>

<body>
    <table class="main-table" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <table width="700px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <svg width="80" height="24" viewBox="0 0 80 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_450_69968)">
                                                            <path
                                                                d="M14.6186 11.6123C13.7827 11.6123 13.1515 11.348 12.725 10.8194C12.2986 10.2908 12.0849 9.51429 12.084 8.48984V3.21655H14.5554V7.93986C14.5554 8.44207 14.6535 8.82647 14.8497 9.09305C14.9454 9.2247 15.0717 9.33025 15.2173 9.40026C15.363 9.47027 15.5234 9.50257 15.6843 9.49427C16.0218 9.49076 16.3524 9.39659 16.6425 9.22133C16.9948 8.99631 17.2783 8.67585 17.4609 8.29605V3.21655H19.9337V8.6304C19.917 8.81352 19.9574 8.99734 20.0493 9.15582C20.1024 9.21209 20.166 9.2571 20.2364 9.28826C20.3067 9.31941 20.3825 9.33609 20.4592 9.33733V11.4554C20.2601 11.5008 20.0586 11.535 19.8558 11.5577C19.6918 11.5727 19.5427 11.5809 19.4083 11.5809C18.5231 11.5809 18.0182 11.2307 17.8937 10.5301L17.848 10.0279C17.5034 10.5484 17.0252 10.9632 16.4651 11.2275C15.8843 11.4901 15.2543 11.6214 14.6186 11.6123Z"
                                                                fill="black" />
                                                            <path
                                                                d="M21.8496 2.27499V0H24.3237V2.27499H21.8496ZM21.8496 11.4555V3.21665H24.3237V11.4555H21.8496Z"
                                                                fill="black" />
                                                            <path
                                                                d="M28.1246 11.4554L25.25 3.21655H27.8034L29.5814 9.44651L31.3742 3.21655H33.6763L30.8138 11.4554H28.1246Z"
                                                                fill="black" />
                                                            <path
                                                                d="M38.2158 11.6125C37.5894 11.6227 36.9671 11.5082 36.3841 11.2754C35.8691 11.0674 35.4013 10.7549 35.0093 10.3569C34.6354 9.97463 34.3434 9.51788 34.1519 9.01542C33.9557 8.50814 33.8559 7.96776 33.8575 7.42279C33.8534 6.84566 33.9532 6.27262 34.1519 5.7319C34.3401 5.21551 34.629 4.743 35.0012 4.34261C35.3883 3.9388 35.8543 3.62175 36.3693 3.41187C36.9561 3.17322 37.5838 3.05583 38.2158 3.0666C38.8434 3.05633 39.4667 3.17373 40.0489 3.41187C40.5602 3.6255 41.0231 3.94318 41.4089 4.34534C41.7788 4.73695 42.0656 5.20143 42.2516 5.71006C42.442 6.22674 42.5385 6.77422 42.5365 7.32589C42.5365 7.47328 42.5365 7.61658 42.5217 7.75851C42.5136 7.88221 42.4979 8.00527 42.4747 8.12698H36.4849C36.5252 8.68106 36.7236 9.10185 37.0802 9.38935C37.4215 9.67222 37.8493 9.82523 38.2897 9.82197C38.6541 9.81912 39.0123 9.72539 39.3326 9.54902C39.638 9.40265 39.8778 9.14491 40.0046 8.82709L42.1091 9.41665C41.7783 10.0797 41.2647 10.6307 40.6308 11.0025C39.958 11.4082 39.153 11.6116 38.2158 11.6125ZM39.9306 6.56301C39.9052 6.09377 39.7077 5.65121 39.377 5.32248C39.0546 5.01844 38.6274 4.85523 38.1876 4.86803C37.9678 4.85866 37.7484 4.89405 37.5423 4.97209C37.3362 5.05014 37.1476 5.16928 36.9875 5.32248C36.6643 5.65112 36.4691 6.08737 36.4378 6.55073L39.9306 6.56301Z"
                                                                fill="black" />
                                                            <path
                                                                d="M48.8168 5.36742C48.2627 5.36898 47.7131 5.46969 47.1934 5.66493C46.7567 5.81465 46.385 6.11436 46.1425 6.51242V11.4554H43.6777V3.21662H45.9489V4.88021C46.1965 4.36309 46.5658 3.91592 47.0241 3.57827C47.4308 3.2752 47.9188 3.10525 48.4231 3.09106H48.6704C48.7223 3.09118 48.7741 3.09667 48.8249 3.10744L48.8168 5.36742Z"
                                                                fill="black" />
                                                            <path
                                                                d="M57.345 2.57394H54.0068V11.4556H51.4708V2.57394H48.1191V0.313965H57.345V2.57394Z"
                                                                fill="black" />
                                                            <path
                                                                d="M61.8267 5.36742C61.2739 5.36944 60.7258 5.47014 60.2073 5.66493C59.7706 5.81465 59.3989 6.11436 59.1564 6.51242V11.4554H56.6836V3.21662H58.9561V4.88022C59.2037 4.36309 59.5729 3.91592 60.0313 3.57827C60.4376 3.27547 60.9251 3.10552 61.4289 3.09106H61.6762C61.7281 3.09103 61.7799 3.09652 61.8307 3.10744L61.8267 5.36742Z"
                                                                fill="black" />
                                                            <path
                                                                d="M66.3395 11.6123C65.7131 11.6225 65.0908 11.508 64.5078 11.2752C63.9928 11.0672 63.5249 10.7547 63.133 10.3568C62.7595 9.97409 62.4677 9.51744 62.2755 9.01524C62.0798 8.50789 61.9804 7.9675 61.9826 7.42261C61.978 6.84557 62.0773 6.27254 62.2755 5.73172C62.4641 5.21552 62.753 4.74307 63.1249 4.34244C63.512 3.93862 63.978 3.62157 64.493 3.4117C65.0798 3.17304 65.7075 3.05566 66.3395 3.06642C66.9689 3.05509 67.5942 3.17252 68.178 3.4117C68.6893 3.62533 69.1522 3.94301 69.538 4.34517C69.9078 4.73677 70.1946 5.20125 70.3806 5.70989C70.5721 6.22631 70.6691 6.7739 70.6669 7.32572C70.6669 7.47311 70.6669 7.61641 70.6508 7.75834C70.6424 7.88194 70.6271 8.00496 70.6051 8.12681H64.6086C64.6507 8.68089 64.8491 9.10168 65.2039 9.38918C65.5452 9.67205 65.9729 9.82506 66.4134 9.8218C66.7778 9.81878 67.1359 9.72506 67.4563 9.54885C67.7616 9.40247 68.0015 9.14474 68.1282 8.82691L70.2341 9.41647C69.9027 10.0791 69.3892 10.63 68.7559 11.0023C68.0821 11.4081 67.2767 11.6114 66.3395 11.6123ZM68.0543 6.56284C68.0282 6.09322 67.8297 5.65061 67.498 5.32231C67.1757 5.01801 66.7485 4.85476 66.3086 4.86785C66.0893 4.85909 65.8705 4.89476 65.6649 4.97278C65.4593 5.05081 65.2711 5.16963 65.1112 5.32231C64.7875 5.65044 64.5926 6.08707 64.5629 6.55056L68.0543 6.56284Z"
                                                                fill="black" />
                                                            <path
                                                                d="M75.6729 11.6123C75.0465 11.6225 74.4241 11.508 73.8411 11.2752C73.3261 11.0672 72.8583 10.7547 72.4663 10.3568C72.0924 9.97446 71.8005 9.51771 71.6089 9.01524C71.4128 8.50797 71.3129 7.96759 71.3146 7.42261C71.3105 6.84549 71.4102 6.27245 71.6089 5.73172C71.7971 5.21534 72.086 4.74282 72.4582 4.34244C72.8453 3.93862 73.3113 3.62157 73.8263 3.4117C74.4131 3.17304 75.0409 3.05566 75.6729 3.06642C76.3023 3.05509 76.9275 3.17252 77.5113 3.4117C78.0226 3.62533 78.4855 3.94301 78.8713 4.34517C79.2412 4.73677 79.528 5.20125 79.714 5.70989C79.9055 6.22631 80.0025 6.7739 80.0002 7.32572C80.0002 7.47311 80.0002 7.61641 79.9841 7.75834C79.9757 7.88194 79.9605 8.00496 79.9384 8.12681H73.9419C73.9831 8.68089 74.1816 9.10168 74.5373 9.38918C74.8785 9.67205 75.3063 9.82506 75.7468 9.8218C76.1111 9.81861 76.4692 9.7249 76.7896 9.54885C77.095 9.40247 77.3349 9.14474 77.4616 8.82691L79.5675 9.41647C79.2361 10.0791 78.7226 10.63 78.0892 11.0023C77.4154 11.4081 76.61 11.6114 75.6729 11.6123ZM77.3877 6.56284C77.3615 6.09322 77.163 5.65061 76.8313 5.32231C76.5091 5.01801 76.0818 4.85476 75.6419 4.86785C75.4226 4.85909 75.2038 4.89476 74.9982 4.97278C74.7926 5.05081 74.6044 5.16963 74.4445 5.32231C74.1208 5.65044 73.9259 6.08707 73.8962 6.55056L77.3877 6.56284Z"
                                                                fill="black" />
                                                            <path
                                                                d="M31.6867 23.8963V17.5313L28.8282 22.4975H28.5016L25.6431 17.5313V23.8963H25.123V16.5364H25.6431L28.6656 21.8028L31.6867 16.5364H32.2081V23.8963H31.6867Z"
                                                                fill="black" />
                                                            <path
                                                                d="M36.1384 23.9999C35.7794 24.0036 35.424 23.9277 35.0969 23.7775C34.7821 23.6323 34.4992 23.4244 34.265 23.1661C34.0282 22.9042 33.841 22.6003 33.7126 22.2695C33.5786 21.9217 33.5111 21.5512 33.5137 21.1777C33.5119 20.8101 33.5794 20.4455 33.7126 20.1037C33.8401 19.7786 34.0255 19.4802 34.2596 19.2234C34.4915 18.9711 34.7707 18.7684 35.0807 18.627C35.4066 18.4813 35.7588 18.406 36.1149 18.406C36.471 18.406 36.8231 18.4813 37.149 18.627C37.4607 18.7701 37.7416 18.9741 37.9755 19.2275C38.2076 19.4845 38.3899 19.7836 38.5131 20.1091C38.6428 20.448 38.7084 20.8087 38.7066 21.1722V21.3087C38.7089 21.3419 38.7053 21.3752 38.6958 21.407H34.0446C34.063 21.7064 34.1359 21.9998 34.2596 22.2722C34.3744 22.5275 34.5312 22.761 34.7233 22.9628C34.9094 23.1549 35.1296 23.3096 35.3724 23.4186C35.7911 23.6032 36.2601 23.6341 36.6988 23.5059C36.872 23.4563 37.0386 23.3853 37.1947 23.2944C37.3439 23.2054 37.4797 23.0951 37.5979 22.9669C37.7135 22.8438 37.8084 22.7022 37.8788 22.5479L38.3276 22.6721C38.2504 22.8692 38.1378 23.0502 37.9957 23.2057C37.8468 23.3706 37.6747 23.5123 37.485 23.626C37.2851 23.7454 37.0704 23.8372 36.8466 23.899C36.6162 23.9651 36.3779 23.999 36.1384 23.9999ZM38.2201 20.9976C38.2038 20.6968 38.1332 20.4017 38.0118 20.1269C37.8992 19.8738 37.7436 19.6428 37.5522 19.4445C37.3655 19.2558 37.1452 19.1048 36.9031 18.9996C36.6542 18.8933 36.3869 18.8386 36.1169 18.8386C35.8469 18.8386 35.5796 18.8933 35.3307 18.9996C35.089 19.1048 34.8691 19.2558 34.6829 19.4445C34.4918 19.6408 34.3395 19.8724 34.2341 20.1269C34.1193 20.4015 34.052 20.6942 34.0352 20.9921L38.2201 20.9976Z"
                                                                fill="black" />
                                                            <path
                                                                d="M42.0177 24C41.6645 24.0033 41.3153 23.9234 40.9976 23.7666C40.6914 23.6146 40.4175 23.4032 40.1913 23.1443C39.9613 22.8833 39.7813 22.5811 39.6605 22.2531C39.5346 21.9209 39.4704 21.5678 39.471 21.2118C39.4662 20.848 39.5249 20.4863 39.6443 20.1433C39.7591 19.8168 39.9323 19.5147 40.155 19.2521C40.37 18.9989 40.6315 18.7907 40.9251 18.6393C41.2279 18.4859 41.5623 18.4078 41.9008 18.4114C42.1225 18.4104 42.343 18.4454 42.5539 18.5151C42.7546 18.5819 42.9465 18.6736 43.1251 18.7881C43.3006 18.9003 43.4617 19.0341 43.6048 19.1866C43.7449 19.3347 43.8683 19.4981 43.9731 19.6738V16.3289H44.4837V23.1716C44.4837 23.3435 44.555 23.4295 44.6974 23.4295V23.8962L44.5953 23.9126C44.568 23.914 44.5406 23.914 44.5133 23.9126C44.4476 23.9132 44.3825 23.8993 44.3226 23.8717C44.2627 23.8441 44.2094 23.8036 44.1666 23.7529C44.0787 23.663 44.0278 23.5425 44.0241 23.4159V22.8181C43.8091 23.1753 43.5086 23.4716 43.1506 23.6792C42.8079 23.8868 42.4167 23.9976 42.0177 24ZM42.1104 23.5332C42.3124 23.5295 42.5123 23.4912 42.7017 23.42C42.9118 23.3444 43.1097 23.2377 43.289 23.1033C43.4648 22.9728 43.6213 22.8174 43.754 22.6421C43.8788 22.4805 43.9565 22.2867 43.9784 22.0825V20.3084C43.8993 20.108 43.791 19.9208 43.6572 19.7529C43.383 19.4071 43.021 19.1438 42.6103 18.9914C42.421 18.9183 42.2203 18.8799 42.0177 18.8782C41.7265 18.8743 41.4388 18.9437 41.1804 19.0801C40.9332 19.2101 40.7147 19.3898 40.538 19.6083C40.3604 19.8304 40.2238 20.0833 40.1349 20.3548C40.04 20.6331 39.9918 20.9255 39.9924 21.22C39.9904 21.5218 40.0456 21.8211 40.155 22.1016C40.2612 22.3732 40.4151 22.6229 40.6093 22.8386C40.7993 23.0498 41.0273 23.2222 41.2812 23.3463C41.5402 23.4712 41.8237 23.5351 42.1104 23.5332Z"
                                                                fill="black" />
                                                            <path
                                                                d="M46.1133 17.2815V16.3262H46.624V17.2815H46.1133ZM46.1133 23.8963V18.5056H46.624V23.8963H46.1133Z"
                                                                fill="black" />
                                                            <path
                                                                d="M49.5323 23.9999C49.2977 24.0002 49.0653 23.9539 48.8483 23.8634C48.6433 23.7813 48.4548 23.662 48.2919 23.5113C48.1325 23.3633 48.0057 23.1829 47.9196 22.9818C47.8297 22.7746 47.7839 22.5504 47.7852 22.324C47.783 22.0988 47.8396 21.877 47.9492 21.6812C48.0627 21.4822 48.2178 21.3108 48.4034 21.179C48.6157 21.0283 48.8522 20.9161 49.1022 20.8474C49.3948 20.7644 49.6975 20.724 50.0013 20.7273C50.2906 20.7276 50.5793 20.7537 50.8641 20.8051C51.1305 20.8507 51.3919 20.922 51.6449 21.018V20.4898C51.6561 20.268 51.624 20.0462 51.5504 19.837C51.4769 19.6278 51.3633 19.4355 51.2162 19.2711C51.0636 19.1182 50.8813 18.9992 50.681 18.9216C50.4806 18.8441 50.2665 18.8098 50.0524 18.8208C49.7707 18.8251 49.492 18.881 49.2299 18.9859C48.918 19.109 48.6216 19.2694 48.347 19.4636L48.1534 19.1101C48.8335 18.6406 49.4799 18.4055 50.0927 18.4045C50.7324 18.4045 51.2359 18.5933 51.6033 18.9709C51.9706 19.3485 52.1547 19.8684 52.1556 20.5308V23.1647C52.1556 23.3366 52.2295 23.4226 52.38 23.4226V23.8894C52.3464 23.8962 52.3102 23.9016 52.2725 23.9057H52.1758C52.1148 23.9086 52.054 23.8978 51.9976 23.8742C51.9412 23.8507 51.8905 23.8148 51.8492 23.7693C51.7674 23.6753 51.7174 23.5571 51.7067 23.4322V22.9859C51.4603 23.3114 51.1366 23.5683 50.766 23.7324C50.3782 23.9097 49.9576 24.0008 49.5323 23.9999ZM49.6344 23.5905C50.0088 23.5954 50.3798 23.5176 50.7217 23.3626C51.0231 23.2344 51.2856 23.0271 51.4823 22.7621C51.5791 22.6472 51.6367 22.5036 51.6463 22.3527V21.3974C51.3984 21.2998 51.1419 21.2267 50.8802 21.179C50.6074 21.1303 50.3308 21.1061 50.0537 21.1067C49.8091 21.1043 49.5651 21.1341 49.328 21.1954C49.1296 21.2454 48.9404 21.3274 48.7676 21.4383C48.6186 21.5336 48.4942 21.6637 48.4048 21.8177C48.3191 21.9672 48.2749 22.1374 48.2771 22.3104C48.276 22.485 48.3108 22.6579 48.3792 22.818C48.4456 22.9732 48.5431 23.1127 48.6655 23.2275C48.7919 23.3455 48.9392 23.4381 49.0996 23.5004C49.2712 23.562 49.4525 23.5907 49.6344 23.585V23.5905Z"
                                                                fill="black" />
                                                            <path
                                                                d="M16.8784 22.7198C18.2211 22.7198 19.3095 21.6145 19.3095 20.251C19.3095 18.8875 18.2211 17.7822 16.8784 17.7822C15.5357 17.7822 14.4473 18.8875 14.4473 20.251C14.4473 21.6145 15.5357 22.7198 16.8784 22.7198Z"
                                                                fill="#0000FF" />
                                                            <path
                                                                d="M9.65378 22.7198C10.9965 22.7198 12.0849 21.6145 12.0849 20.251C12.0849 18.8875 10.9965 17.7822 9.65378 17.7822C8.31111 17.7822 7.22266 18.8875 7.22266 20.251C7.22266 21.6145 8.31111 22.7198 9.65378 22.7198Z"
                                                                fill="#309B42" />
                                                            <path
                                                                d="M2.43112 22.7198C3.7738 22.7198 4.86225 21.6145 4.86225 20.251C4.86225 18.8875 3.7738 17.7822 2.43112 17.7822C1.08845 17.7822 0 18.8875 0 20.251C0 21.6145 1.08845 22.7198 2.43112 22.7198Z"
                                                                fill="#FF0000" />
                                                            <path
                                                                d="M9.48798 9.69765C10.4067 8.65938 10.9134 7.31186 10.9098 5.91601C10.9085 5.20706 10.7772 4.50456 10.5228 3.84436C10.2716 3.17368 9.89977 2.55632 9.42616 2.02382C8.94314 1.4831 8.36058 1.04359 7.71133 0.730066C7.01645 0.394778 6.2551 0.22577 5.48583 0.236037C4.73003 0.228048 3.98144 0.385857 3.29123 0.698678C2.63769 0.995853 2.04746 1.41954 1.55356 1.94603C1.06405 2.46908 0.676056 3.08116 0.409894 3.7502C0.138585 4.42232 -0.000658755 5.14184 2.34304e-06 5.86824C-8.12509e-05 6.58772 0.13351 7.30074 0.393767 7.96992C0.649419 8.63772 1.02388 9.25207 1.49846 9.78227C1.98149 10.318 2.56494 10.7504 3.21462 11.0542C3.91178 11.3796 4.67157 11.5432 5.43879 11.5332C5.91674 11.5361 6.39285 11.4727 6.85392 11.3449C7.2922 11.2232 7.71486 11.0496 8.11316 10.8276L8.68432 11.4554H11.0644L9.48798 9.69765ZM8.20589 6.88906C8.19783 6.92181 8.18439 6.95183 8.17498 6.98459C8.16557 7.01734 8.1602 7.06374 8.14945 7.10332C8.13869 7.14289 8.10779 7.2084 8.08763 7.26162C8.0186 7.45791 7.93411 7.64822 7.83497 7.83071C7.76685 7.95469 7.69099 8.07412 7.60785 8.18827C7.36649 8.50678 7.06087 8.76921 6.71147 8.95797C6.65502 8.988 6.59455 9.01256 6.53542 9.03849C6.52466 9.03849 6.51123 9.03849 6.50182 9.04941C6.36197 9.10819 6.21712 9.15387 6.06908 9.18588H6.04892H6.01532L5.96694 9.19407C5.79688 9.22343 5.62473 9.23849 5.45223 9.23911C5.0233 9.24717 4.59877 9.15027 4.21449 8.95661C3.86399 8.77619 3.55559 8.52165 3.31004 8.21011C3.06265 7.89194 2.87621 7.52948 2.76038 7.14153C2.63649 6.73727 2.57395 6.3162 2.57493 5.89281C2.57622 5.70288 2.58969 5.51324 2.61524 5.32508C2.62599 5.24866 2.64346 5.1736 2.6569 5.09718C2.67034 5.02075 2.67975 4.94569 2.69856 4.872C2.70528 4.8447 2.71738 4.81877 2.7241 4.79148C2.73082 4.76418 2.74023 4.70277 2.75366 4.65501C2.7671 4.60724 2.80205 4.53628 2.82355 4.47486C2.84505 4.41345 2.8679 4.3575 2.89209 4.30018C2.90553 4.26606 2.92434 4.23604 2.93778 4.20328C2.96735 4.13914 2.99557 4.075 3.02782 4.01359C3.03857 3.99585 3.04529 3.97537 3.05604 3.95627C3.06679 3.93716 3.06411 3.9358 3.07083 3.92488C3.13645 3.8006 3.21055 3.68112 3.29257 3.56732C3.53363 3.24852 3.83932 2.98603 4.18896 2.79762C4.24674 2.76623 4.30856 2.74167 4.37038 2.71574C4.38221 2.71272 4.39388 2.70908 4.40532 2.70482C4.41608 2.70482 4.42952 2.70482 4.44161 2.6939C4.56026 2.65074 4.68202 2.61697 4.80581 2.59291C4.81654 2.59205 4.82733 2.59205 4.83806 2.59291L4.9402 2.57517C4.95498 2.57517 4.9738 2.57517 4.98858 2.57517C5.11458 2.55641 5.24159 2.54547 5.36891 2.54242C5.39847 2.54242 5.42401 2.53423 5.45492 2.53423C5.88387 2.52585 6.30848 2.62276 6.69265 2.81673C7.03974 2.99352 7.34612 3.2428 7.59173 3.54822C7.71387 3.70391 7.82098 3.87118 7.91157 4.0477C8.0059 4.22985 8.08372 4.42033 8.14407 4.61679C8.26915 5.02179 8.3326 5.4438 8.33222 5.86824C8.33134 6.21248 8.28891 6.5553 8.20589 6.88906Z"
                                                                fill="black" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_450_69968">
                                                                <rect width="80" height="24" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </td>
                                                <td width="280px"></td>
                                                <td>
                                                    view in browser
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="email-body" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2 class="title">Hello {{name}},</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="sub-title">You'be been invited to QTM HUB. Please, click on the following link to accept the invitation.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   <a  href={{ctaLink}} target="_blank"><button class="cta">
                                                        <h4 class="cta-text">Accept invitation</h4>
                                                    </button></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="sub-title2"></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p class="email-footer-text">This email was sent to {{email}} .
                                                        You are
                                                        receiving this email as you are a QTM
                                                        HUB user.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>